<html>
<head>
<title>INTERESTS</title>
<link rel="stylesheet" type="text/css" href="/css/xyz.css">
</head>
<body>
<big><center>
<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1>DETAILS OF USER</h1>
    </div>
<div class='formbg'>
    <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Enter a record</span>
            <form id="stripe-login" form action="/page-1" method="POST">
                <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="text">Enter Name</label>
                    </div>
                    <input type="text" name="valu" required>
                  </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="text">Enter ID</label>
                </div>
                <input type="text" name="about" required>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="text">Phone number</label>
                </div>
                <input type="text" name="phone" required>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="text">address</label>
                </div>
                <input type="text" name="address" required>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="number">Enter age</label>
                </div>
                <input type="number" name="age" required>
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Continue">
              </div>
            </form>
          </div>
        </div>    
</div>
</center></big>
</body>
</html>