<html>
<head>
<title>OUTPUT</title>
</head>
<body bgcolor="yellow" text="red">
<big><center>
<h1>RESULT</h1>
<h2>GIVEN INFORMATION ABOUT YOURSELF</h2>
<div>
  <% for(var i=0; i<x.length; i++) {%>
    <li><%= x[i].a%> and <%= x[i].b%></li>
 <% } %>
</div>
</center></big>
</body>
</html>