<html>
<head>
<title>INTERESTS</title>
<link rel="stylesheet" type="text/css" href="/css/xyz.css">
</head>
<body>
<big><center>
<h1>ENTER A RECORD</h1>
<div class='formbg'>
<form action="/page-1" method="POST" id="stripe-login">
    <input type="text" name="valu" required>ENTER YOUR NAME<br><br>
    <input type="text" name="about"required>ID<br><br>
    <input type="text" name="phone" required>PHONE NUMBER<br><br>
    <input type="text" name="address" required>ADDRESS<br><br>
    <input type="number" name="age" required>AGE<br><br>
    <input type="submit" name='submit' value="Continue">
    <form action="/response2" method="POST">
        <input type="text" name="search1" required>NAME<br><br>
        <input type="text" name="search2" required>ID<br><br>
        <button type="submit" name='sub'>SEARCH</button>
    </form>
</form>
</div>
</center></big>
</body>
</html>