<html>
<head>
<title>PAGE-2</title>
</head>
<body bgcolor="yellow" text="red">
<big><center>
<h1>PAGE-2</h1>
<form action="/page-2" method="POST">
    <input type="text" name="age"placeholder="age">WHAT IS YOUR AGE?<br><br>
    <input type="text" id="hob" name="hob" size="50">HOBBIES<br><br>
    Which part of india do you belong to?<br>
    <input type="radio" name="home" value="north">north India<br>
    <input type="radio" name="home" value="east">east India<br>
    <input type="radio" name="home" value="west">west India<br>
    <input type="radio" name="home" value="south">south India<br><br>
    <button type="submit" name='submit'>SUBMIT</button>
</form>
</body>
</html>