<html>
<head>
<title>INTERESTS</title>
<link rel="stylesheet" type="text/css" href="/css/xyz.css">
</head>
<body>
<big><center>
<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1>SEARCH FOR A RECORD</h1>
    </div>
</div>
<div class="formbg-outer">
    <div class="formbg">
      <div class="formbg-inner padding-horizontal--48">
        <span class="padding-bottom--15">ENTER NAME AND ID</span>
        <form id="stripe-login" action="/response2" method="POST">
          <div class="field padding-bottom--24">
            <div class="grid--50-50">
                <label for="text">NAME</label>
            </div>
            <input type="text" name="search1" required>
          </div>
          <div class="field padding-bottom--24">
            <div class="grid--50-50">
              <label for="text">ID</label>
            </div>
            <input type="text" name="search2" required>
          </div>
          <div class="field padding-bottom--24">
            <input type="submit" name="submit" value="SEARCH">
          </div>
        </form>
      </div>
    </div>
</center></big>
</body>
</html>